@use 'fonts';
@use 'variables';

@mixin card-design($color: variables.$primary-color-red) {
    display: flex;
    flex-direction: column;
    border-top: 3px solid $color;
    padding: 2rem;
    gap: 0.5rem;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.07),
                10px 10px 20px rgba(0,0,0,0.07);
    border-radius: 6px; 
    font-family: variables.$font-stack;

    .card-title {
        font-weight: variables.$font-weight-bold;
        color: variables.$neutral-color-grey-500;
    }

    .card-description {
        color: variables.$neutral-color-grey-400;
    }

    .card-icon {
        align-self: end;
        margin-top: 2rem;
       
    }
}