@use 'fonts';
@use 'variables' as *;
@use 'heading';
@use 'card';


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding: 2rem;
    background-color: $neutral-color-grey-400;
    font-size: $font-size;
}

.center {
    display: flex;
    justify-content: center;
}

.cards {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 32px;
    margin-top: 4rem;
    max-width: 75rem;
}


.card-1 {
    grid-column: 1 / 3;
    grid-row: 2 / 4;
    @include card.card-design($color: $primary-color-cyan);
}

.card-2 {
    grid-column: 3 / 5;
    grid-row: 1 / 3;
    @include card.card-design;
}

.card-3 {
    grid-column: 3 / 5;
    grid-row: 3 / 5;
    @include card.card-design($color: $primary-color-orange);
}

.card-4 {
    grid-column: 5 / 7;
    grid-row: 2 / 4;
    @include card.card-design($color: $primary-color-blue);
}

@media (max-width: 799px) {
    .cards {
        display: flex;
        flex-direction: column;
        justify-content: center;
        
        width: 100%;
    }
}