/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

@import url("https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
.heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Poppins", sans-serif;
}

.heading-width {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 32rem;
}
.heading-width .description {
  text-align: center;
  color: hsl(234, 12%, 34%);
  margin-top: 1rem;
}

.slogan {
  color: hsl(212, 6%, 44%);
  font-size: 2rem;
  font-weight: 200;
  text-align: center;
}

.slogan-bold {
  color: hsl(234, 12%, 34%);
  font-weight: 600;
  font-size: 2rem;
  text-align: center;
}

@media (max-width: 799px) {
  .slogan {
    font-size: 1.5rem;
  }
  .slogan-bold {
    font-size: 1.5rem;
  }
}
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  padding: 2rem;
  background-color: hsl(0, 0%, 100%);
  font-size: 0.9375rem;
}

.center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.cards {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 32px 1fr 32px 1fr 32px 1fr 32px 1fr 32px 1fr;
  grid-template-columns: repeat(6, 1fr);
  -ms-grid-rows: 1fr 32px 1fr 32px 1fr 32px 1fr;
  grid-template-rows: repeat(4, 1fr);
  gap: 32px;
  margin-top: 4rem;
  max-width: 75rem;
}

.cards > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.cards > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}

.cards > *:nth-child(3) {
  -ms-grid-row: 1;
  -ms-grid-column: 5;
}

.cards > *:nth-child(4) {
  -ms-grid-row: 1;
  -ms-grid-column: 7;
}

.cards > *:nth-child(5) {
  -ms-grid-row: 1;
  -ms-grid-column: 9;
}

.cards > *:nth-child(6) {
  -ms-grid-row: 1;
  -ms-grid-column: 11;
}

.cards > *:nth-child(7) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}

.cards > *:nth-child(8) {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
}

.cards > *:nth-child(9) {
  -ms-grid-row: 3;
  -ms-grid-column: 5;
}

.cards > *:nth-child(10) {
  -ms-grid-row: 3;
  -ms-grid-column: 7;
}

.cards > *:nth-child(11) {
  -ms-grid-row: 3;
  -ms-grid-column: 9;
}

.cards > *:nth-child(12) {
  -ms-grid-row: 3;
  -ms-grid-column: 11;
}

.cards > *:nth-child(13) {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
}

.cards > *:nth-child(14) {
  -ms-grid-row: 5;
  -ms-grid-column: 3;
}

.cards > *:nth-child(15) {
  -ms-grid-row: 5;
  -ms-grid-column: 5;
}

.cards > *:nth-child(16) {
  -ms-grid-row: 5;
  -ms-grid-column: 7;
}

.cards > *:nth-child(17) {
  -ms-grid-row: 5;
  -ms-grid-column: 9;
}

.cards > *:nth-child(18) {
  -ms-grid-row: 5;
  -ms-grid-column: 11;
}

.cards > *:nth-child(19) {
  -ms-grid-row: 7;
  -ms-grid-column: 1;
}

.cards > *:nth-child(20) {
  -ms-grid-row: 7;
  -ms-grid-column: 3;
}

.cards > *:nth-child(21) {
  -ms-grid-row: 7;
  -ms-grid-column: 5;
}

.cards > *:nth-child(22) {
  -ms-grid-row: 7;
  -ms-grid-column: 7;
}

.cards > *:nth-child(23) {
  -ms-grid-row: 7;
  -ms-grid-column: 9;
}

.cards > *:nth-child(24) {
  -ms-grid-row: 7;
  -ms-grid-column: 11;
}

.card-1 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  grid-row: 2/4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-top: 3px solid hsl(180, 62%, 55%);
  padding: 2rem;
  gap: 0.5rem;
  -webkit-box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.07), 10px 10px 20px rgba(0, 0, 0, 0.07);
          box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.07), 10px 10px 20px rgba(0, 0, 0, 0.07);
  border-radius: 6px;
  font-family: "Poppins", sans-serif;
}
.card-1 .card-title {
  font-weight: 600;
  color: hsl(234, 12%, 34%);
}
.card-1 .card-description {
  color: hsl(212, 6%, 44%);
}
.card-1 .card-icon {
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
  margin-top: 2rem;
}

.card-2 {
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-column: 3/5;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1/3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-top: 3px solid hsl(0, 78%, 62%);
  padding: 2rem;
  gap: 0.5rem;
  -webkit-box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.07), 10px 10px 20px rgba(0, 0, 0, 0.07);
          box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.07), 10px 10px 20px rgba(0, 0, 0, 0.07);
  border-radius: 6px;
  font-family: "Poppins", sans-serif;
}
.card-2 .card-title {
  font-weight: 600;
  color: hsl(234, 12%, 34%);
}
.card-2 .card-description {
  color: hsl(212, 6%, 44%);
}
.card-2 .card-icon {
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
  margin-top: 2rem;
}

.card-3 {
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-column: 3/5;
  -ms-grid-row: 3;
  -ms-grid-row-span: 2;
  grid-row: 3/5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-top: 3px solid hsl(34, 97%, 64%);
  padding: 2rem;
  gap: 0.5rem;
  -webkit-box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.07), 10px 10px 20px rgba(0, 0, 0, 0.07);
          box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.07), 10px 10px 20px rgba(0, 0, 0, 0.07);
  border-radius: 6px;
  font-family: "Poppins", sans-serif;
}
.card-3 .card-title {
  font-weight: 600;
  color: hsl(234, 12%, 34%);
}
.card-3 .card-description {
  color: hsl(212, 6%, 44%);
}
.card-3 .card-icon {
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
  margin-top: 2rem;
}

.card-4 {
  -ms-grid-column: 5;
  -ms-grid-column-span: 2;
  grid-column: 5/7;
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  grid-row: 2/4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-top: 3px solid hsl(212, 86%, 64%);
  padding: 2rem;
  gap: 0.5rem;
  -webkit-box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.07), 10px 10px 20px rgba(0, 0, 0, 0.07);
          box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.07), 10px 10px 20px rgba(0, 0, 0, 0.07);
  border-radius: 6px;
  font-family: "Poppins", sans-serif;
}
.card-4 .card-title {
  font-weight: 600;
  color: hsl(234, 12%, 34%);
}
.card-4 .card-description {
  color: hsl(212, 6%, 44%);
}
.card-4 .card-icon {
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
  margin-top: 2rem;
}

@media (max-width: 799px) {
  .cards {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
  }
}